.project-container{
    position: relative;
}
.project-box-container{
    position: relative;
    height: 400px;
    width: 900px;
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 82% 100%, 0 100%, 0 0);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    transition: transform 0.5s, background-size 0.8s
}
.project-box-container:hover{
    transform: scale(1.02);
    background-size: 103%;
}
.project-box-overlay{
    z-index: 1;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten; 
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
    position: absolute;
    height: 100%;
    width: 100%;
}
.project-box-overlay:hover{
    opacity: 0;
}
.show-title{
    z-index: 1;
    position: absolute;
    color:#E9F2F1;
    text-shadow: 2px 2px #63D2FF;
    text-decoration: none;
    font-style: italic;
    font-size: 46px;
    padding: 10px 0px 0px 40px;
}
.hidden-words{
    z-index: 1;
    position: absolute;
    color:rgb(233, 242, 241);
    text-shadow: 2px 2px #63D2FF;
    font-style: italic;
    text-decoration: none;
    font-size: 46px;
    padding: 10px 0px 0px 40px;
}

.about-project-container{
    position: absolute;
    left: -50%;
    top: 15%;
    width: 400px;
    height: 300px;
}
.about-project-container h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}
.about-span span{
    font-size: 24px;
    color: #172A3A;
    text-decoration: underline;
}
.galaxy{
    background-image: url(../../Assets/galaxydawg.jpg);
    background-position: center;
    background-size: 100%;
}
.galaxy-overlay{
    background-image: linear-gradient(30deg, rgba(200, 194, 174, 0.705) 50%, rgba(99, 211, 255, 0.913) 100%), url(../../Assets/galaxydawg.jpg);
}
.delicious{
    background-image: url(../../Assets/delicious.jpg);
    background-position: center;
    background-size: 100%;
}
.delicious-overlay{
    background-image: linear-gradient(30deg, rgba(200, 194, 174, 0.705) 50%, rgba(99, 211, 255, 0.913) 100%), url(../../Assets/delicious.jpg);
}
.ghibli{
    background-image: url(../../Assets/ghibli.jpg);
    background-position: center;
    background-size: 100%;
}
.ghibli-overlay{
    background-image: linear-gradient(30deg, rgba(200, 194, 174, 0.705) 50%, rgba(99, 211, 255, 0.913) 100%), url(../../Assets/ghibli.jpg);
}