h1,
h3 {
  font-family: "Overpass", sans-serif;
  color: rgb(55, 55, 55);
}
h1 span {
  color: #63d2ff;
}
h3 span {
  color: rgb(140, 119, 0);
}

.textbox-text-container h3 {
  width: 50%;
  padding: 10px;
}

.exciting {
  color: rgb(0, 0, 0);
  font-size: 26px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  .textbox-text-container {
    /* border: 2px solid black; */
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}
