.title-container {
  position: relative;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: fixed;
  top: 5%;
  left: 10%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 1;
  width: 50px;
  
}
.title-container h1{
  font-size: 102px;
  font-family: 'Righteous', cursive;
  color: black;
  letter-spacing: 0.1em;
}
.name-container{
  /* border: 2px solid black; */
}

.subname-container{
  top: 75%;
  /* border: 2px solid black; */
  position: absolute;
}
.title-container h3{
  font-size: 26px;
  font-family: monospace;
  animation: type 2.5s steps(20);
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  width: 18ch;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 18ch;
  }
}

.title-image-container{
  position: absolute;
  top: 20%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
}